@model projetNet.Models.ApplicationUser
@{
    ViewData["Title"] = "Add Inspector";
}
<h2>Add Inspector</h2>
<form asp-action="CreateInspector" method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add Inspector</button>
    <a asp-action="ManageInspectors" class="btn btn-secondary">Cancel</a>
</form>
